<table class="table">
  <thead>
    <tr>
      <th>Filename</th>
      <th>Size</th>
      <th>Url</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item.file.url, target: "blank" %></td>
        <td><%= Filesize.from("#{item.file.size} B").pretty %></td>
        <td><%= render "input_group", item: item %></td>
      </tr>
    <% end %>
  </tbody>
</table>