<table class="table">
  <thead>
    <tr>
      <th>Filename</th>
      <th>Size</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <%= content_tag :td, item.name %>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>